.container{
    width: 500px;
    height: 350px;
    border: 2px solid grey;
    padding: 70px;
    margin: 10px;
    cursor: pointer;
}

body{
color: blueviolet;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

h2{
    color: black;
}